/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'billyregular';
  src: url("../fonts/billy-webfont.eot");
  src: url("../fonts/billy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/billy-webfont.woff") format("woff"), url("../fonts/billy-webfont.ttf") format("truetype"), url("../fonts/billy-webfont.svg#billyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 8, sass/form.scss */
.inputs {
  margin-top: 20px;
}

/* line 12, sass/form.scss */
input {
  width: 190px;
  height: 25px;
  font-size: 21px;
  color: #322f2b;
  border: 0px;
  margin-left: -5px;
  margin-top: 4px;
  font-family: billyregular;
}

/* line 23, sass/form.scss */
.inputimg {
  background: url("../imgs/forminput.png") 0 0 no-repeat;
  width: 224px;
  height: 54px;
  padding-left: -10px;
  padding-top: 9px;
  margin-bottom: 10px;
  margin-left: 15px;
}

/* line 35, sass/form.scss */
input[type="checkbox"] {
  display: none;
}

/* line 38, sass/form.scss */
input[type="checkbox"] + label span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(../imgs/checkbox.png) left top no-repeat;
  cursor: pointer;
}

/* line 47, sass/form.scss */
input[type="checkbox"]:checked + label span {
  background: url(../imgs/checkbox.png) -30px top no-repeat;
}

/* line 51, sass/form.scss */
#valid {
  position: absolute;
  top: 412px;
  left: 422px;
  font-size: 16px;
  color: #c35154;
}

/* line 59, sass/form.scss */
.inputL {
  float: left;
}

/* line 63, sass/form.scss */
.inputR {
  float: left;
}

/* line 67, sass/form.scss */
#terms {
  position: absolute;
  text-align: right;
  font-size: 18px;
  right: 130px;
  margin-top: -10px;
}

/* line 76, sass/form.scss */
#quitPop {
  background: #e4e4e4;
  width: 630px;
  min-height: 254px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -315px;
  margin-top: -120px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: #322f2b 5px 5px 12px;
  -moz-box-shadow: #322f2b 5px 5px 12px;
  box-shadow: #322f2b 5px 5px 12px;
  display: none;
  z-index: 35;
}

/* line 90, sass/form.scss */
.pop-info {
  width: 480px;
  margin: auto;
  margin-top: 20px;
  font-size: 21px;
  padding-left: 20px;
}

/* line 98, sass/form.scss */
.btn-quit-option {
  background: url("../imgs/btn-quitinfo.png") 0 0 no-repeat;
  width: 145px;
  height: 60px;
  text-align: center;
  color: white;
  font-size: 21px;
  line-height: 60px;
  margin-top: 20px;
}

/* line 109, sass/form.scss */
#quitNo {
  position: absolute;
  left: 140px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 116, sass/form.scss */
#quitNo:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  color: #fff3da;
}

/* line 121, sass/form.scss */
#quitYes {
  position: absolute;
  left: 340px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 128, sass/form.scss */
#quitYes:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  color: #fff3da;
}

/* line 135, sass/form.scss */
#termsPop {
  background: #e4e4e4;
  width: 630px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -315px;
  margin-top: -180px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: #322f2b 5px 5px 12px;
  -moz-box-shadow: #322f2b 5px 5px 12px;
  box-shadow: #322f2b 5px 5px 12px;
  display: none;
  z-index: 35;
}

/* line 149, sass/form.scss */
#btnClose {
  position: absolute;
  left: 230px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 156, sass/form.scss */
#btnClose:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  color: #fff3da;
}

/* line 161, sass/form.scss */
.scrollarea {
  height: 190px;
  overflow-y: scroll;
}
