/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'billyregular';
  src: url("../fonts/billy-webfont.eot");
  src: url("../fonts/billy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/billy-webfont.woff") format("woff"), url("../fonts/billy-webfont.ttf") format("truetype"), url("../fonts/billy-webfont.svg#billyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 6, sass/txt.scss */
h1 {
  font-size: 48px !important;
}

/* line 10, sass/txt.scss */
h2 {
  font-size: 48px !important;
  margin-bottom: 20px;
}

/* line 15, sass/txt.scss */
.txt-sub {
  font-size: 21px;
}

/* line 19, sass/txt.scss */
.txt-shadow-green {
  text-shadow: 2px 2px 2px #3c777f;
}

/* line 23, sass/txt.scss */
.txt-title {
  font-size: 36px;
  color: #c35154;
  text-align: center;
  margin-bottom: 20px;
}

/* line 30, sass/txt.scss */
.txt-title-ans {
  font-size: 48px;
  color: #c35154;
  text-align: center;
  margin-bottom: 20px;
}

/* line 37, sass/txt.scss */
.txt-ques {
  font-size: 21px;
  color: black;
  text-align: center;
}

/* line 43, sass/txt.scss */
.txt-red {
  color: #c35154;
}
