
//imports --------------------------
@import "compass";
@import "compass/css3";
@import "compass/reset";
// @import "compass/utilities";
// @import "blueprint";


//Vars -----------------------------
$billyRed: #c35154;
$billyBlue : #5997a0;
$billyGrey: #322f2b;
$creamLite: #fff3da;
$creamDark: #e6d1ab;



// FONTS ---------------------------

@font-face {
    font-family: 'billyregular';
    src: url('../fonts/billy-webfont.eot');
    src: url('../fonts/billy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/billy-webfont.woff') format('woff'),
         url('../fonts/billy-webfont.ttf') format('truetype'),
         url('../fonts/billy-webfont.svg#billyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
