@import "base";
@import "compass/css3";
@import "compass/utilities";




.inputs{
	margin-top:20px;
}

input{
	width: 190px;
	height:25px;
	font-size:21px;
	color: $billyGrey;
	border:0px;
	margin-left:-5px;
	margin-top:4px;
	font-family:billyregular;
}

.inputimg{
	background: url('../imgs/forminput.png') 0 0 no-repeat; 
	width:224px;
	height:54px;
	padding-left:-10px;
	padding-top:9px;
	margin-bottom:10px;
	margin-left:15px;
}



input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:30px;
    height:30px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../imgs/checkbox.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../imgs/checkbox.png) -30px top no-repeat;
}

#valid{
	position:absolute;
	top:412px;
	left:422px;
	font-size:16px;
	color:$billyRed;
}

.inputL{
	float:left;
}

.inputR{
	float:left;
}

#terms{
	position: absolute;
	text-align:right;
	font-size:18px;
	right:130px;
	margin-top:-10px;
}


#quitPop{
	background: #e4e4e4;
	width:630px;
	min-height:254px;
	position: absolute;
	left:50%; top:50%;
	margin-left:-315px;
	margin-top:-120px;
	@include border-radius(25px);
	@include box-shadow($billyGrey 5px 5px 12px);
	display:none;
	z-index:35;
}

.pop-info{
	width:480px;
	margin:auto;
	margin-top:20px;
	font-size:21px;
	padding-left:20px;
}

.btn-quit-option{
	background: url('../imgs/btn-quitinfo.png') 0 0 no-repeat; 
	width:145px;
	height:60px;
	text-align:center;
	color:white;
	font-size:21px;
	line-height:60px;
	margin-top:20px;
}

#quitNo{
	position: absolute;
	left:140px;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

#quitNo:hover{
	@include transform(scale(1.1));
	color:$creamLite;
}

#quitYes{
	position: absolute;
	left:340px;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

#quitYes:hover{
	@include transform(scale(1.1));
	color:$creamLite;
}



#termsPop{
	background: #e4e4e4;
	width:630px;
	height:400px;
	position: absolute;
	left:50%; top:50%;
	margin-left:-315px;
	margin-top:-180px;
	@include border-radius(25px);
	@include box-shadow($billyGrey 5px 5px 12px);
	display:none;
	z-index:35;
}

#btnClose{
	position: absolute;
	left:230px;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

#btnClose:hover{
	@include transform(scale(1.1));
	color:$creamLite;
}

.scrollarea{
	height:190px;
	// background: grey;
	overflow-y: scroll;
}
